.first {
  display: flex;
  align-items: center;
}
.amount_label {
  padding: 5px 10px;
  text-align: right;
  margin: 5px;
}
.secound {
  margin: 0px 10px;
  display: flex;
}
input,
select {
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #ddd;
  width: 200px;
  margin-bottom: 10px;
}
